.faq-edu-wrapper {
  width: 100%;
  min-width: 700px;
  max-width: 1280px;
}

.choice-block-area {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  /* min-width: 780px; */
  /* margin: 20px auto; */
  /* padding: 10px; */
  /* border-bottom: 3px solid #00264c; */
}

.block-name {
  display: inline-flex;
  position: relative;
  /* margin: 10px; */
  margin-left: -20px;
  padding: 0;
  width: 200px;
  height: 50px;
  text-align: center;
  color: #d99116;
  background: #fff;
  /* border: 1px solid #000; */
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 5px #bfbfbf;
  cursor: pointer;
}

.block-name:last-child {
  margin-left: 1px;
}

.block-name.active {
  height: 70px;
  background: #00264c;
  z-index: 1000;
}

.block-name p {
  margin: auto;
}

.bottom-line {
  margin-bottom: 20px;
  border: 2px solid #00264c;
  position: relative;
  z-index: 1000;
}

.question-block {
  border-left: 1px solid #cacaca;
}

.question-block > ul {
  /* display: none; */
  margin: 0;
  padding: 20px;
  list-style: none;
  /* height: 0; */
  /* overflow: hidden; */
  /* transition: height 1s; */
}

.question-block ul > li {
  margin-top: -1px;
  border: 1px dashed #e6e6e6;
}

.question-block ul > li:nth-child(odd) {
  background: #f5f5f5;
}

.question-block .question,
.question-block .answer {
  padding: 10px;
}

.question-block .question {
  border-bottom: 1px dashed #e6e6e6;
  cursor: pointer;
}

.question-block .answer {
  display: none;
  height: 0;
  overflow: hidden;
  background: #ffffff;
  /* transition: height 0.5s; */
}

.question-block .answer.visible {
  display: block;
  height: auto;
  /* overflow: hidden; */
  /* background: #ffffff; */
  /* transition: height 0.5s; */
}

.faq-edu-wrapper .answer-word {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
