.faq-edu-wrapper .search-area {
  margin: 10px;
  padding: 10px;
  text-align: right;
  border: 1px solid #000;
}

.search-area .search-field {
  width: 300px;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}

.search-area .search-field:focus {
  outline-color: #f50;
}

/* как задать радиус outline*/
