@keyframes change_background-color {
  to {
    background-color: yellow;
  }
}
div.faq-region-wrapper {
  margin: 10px;
  padding: 10px;
  /* border: 1px solid #000; */
}

.faq-region-wrapper .block-title {
  position: relative;
  padding: 20px 20px 0 20px;
  color: #0c6692;
  cursor: pointer;
  box-sizing: border-box;
}

.faq-region-wrapper .block-title::before {
  content: "";
  position: absolute;
  left: -7px;
  width: 13px;
  height: 13px;
  background-color: #0c6692;
  /* border: 1px solid #000000; */
  border-radius: 50%;
  /* transition: background-color 0.5s; */
}

.faq-region-wrapper .visible.block-title::before {
  animation-name: change_background-color;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.faq-region-wrapper .question-block {
  /* padding: 20px; */
  border-left: 1px solid #cacaca;
}

.faq-region-wrapper .list-type {
  float:left;
  width: 10px;
  height: 10px;
  margin: 0 15px;
  border-top: 1px solid #0c6692;
  border-left: 1px solid #0c6692;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.faq-region-wrapper .visible .list-type {
  transform: rotate(225deg);
}

.faq-region-wrapper .question-block > ul {
  display: none;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.faq-region-wrapper .visible + ul{
  display: block;
}

.faq-region-wrapper ul > li {
  margin-top: -1px;
  border: 1px dashed #e6e6e6;
}

.faq-region-wrapper ul > li:nth-child(odd) {
  background: #f5f5f5;
}

.faq-region-wrapper .question,
.faq-region-wrapper .answer {
  padding: 10px;
}

.faq-region-wrapper .question {
  border-bottom: 1px dashed #e6e6e6;
  cursor: pointer;
}

.faq-region-wrapper .answer {
  display: none;
  background: #ffffff;
}

.faq-region-wrapper .answer.visible {
  display: block;
}

.faq-region-wrapper .answer-word {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* .faq-region-wrapper .question:hover  + .answer {
  display: block;
} */
