.help_wrapper {
  position: fixed;
  right: 10px;
  bottom: 40px;
}

.help-icon {
  width: 60px;
  height: 60px;
  /* border: 1px solid #000; */
  background: url(../img/help_ico.svg) no-repeat center center;
  cursor: pointer;
  transition: background 0.2s;
}

.help-icon.close {
  background: url(../img/close_ico.svg) no-repeat center center;
}

.help-description {
  position: absolute;
  right: 60px;
  bottom: 60px;
  width: 280px;
  padding: 10px 20px;
  background: rgb(10, 24, 40);
  border-radius: 20px;
}

.support {
  text-align: center;
  color: rgb(250, 192, 144)
}

.support-name {
  font-size: 24px;
  font-weight: bold;
}

.support-question {
  font-size: 18px;
}

.support-email {
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  color: rgb(10, 24, 40);
  background: rgb(250, 192, 144);
}

.support-email a {
  color: inherit;
  text-decoration: underline;
}
