.carousel_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  min-width: 780px;
  width: 100%;
  /* border: 1px solid #000; */
}

.arrow-left,
.arrow-right {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-top: 5px solid #00264c;
  border-left: 5px solid #00264c;
  border-radius: 7px;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(-45deg);
}

.arrow-right {
  transform: rotate(135deg);
}

.icons_wrapper {
  display: inline-block;
  width: 610px;
  text-align: center;
  /* border: 1px solid #000; */
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  display: inline-flex;
  position: relative;
  justify-content: center;
  width: 200px;
  margin: 30px 0;
  padding: 0 15px;
  box-sizing: border-box;
  height: 150px;
  vertical-align: middle;
  background: url(../img/frame.svg) no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
  white-space: normal;
  transition: color 0.3s,
              transform 0.3s,
              font-weight 0.3s,
              width 0.3s,
              margin-left 0.3s;
}

.icon .unit-name {
  margin: auto 20px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.icon.active {
  position: relative;
  font-size: 11px;
  font-weight: bold;
  color: rgb(201, 109, 47);
  z-index: 100;
  transform: scale(1.7);
  /* box-shadow: 0 0 5px 5px #bfbfbf; */
}

.icon.move-left {
  margin-left: -200px;
}
