.carousel_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  width: 90%;
  /* border: 1px solid #000; */
}

.arrow-left,
.arrow-right {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  /* transform: rotate(45deg); */
}

.arrow-left {
  transform: rotate(-45deg);
}

.arrow-right {
  transform: rotate(135deg);
}

.icons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  clear: both;
  /* border: 1px solid #000; */
  /* overflow: hidden; */
}

.icon {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 15px;
  min-width: 150px;
  height: 150px;
  /* border: 1px solid #000; */
  background: url(../img/pict-unit.jpg) no-repeat center center;
  background-size: 100% 100%;
}

.icon .unit-name {
  margin: auto 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.icon.active {
  height: 160px;
  font-weight: bold;
  color: red;
}
