.carousel_wrapper {
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  border: 1px solid #000;
}

.arrow-left,
.arrow-right {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  cursor: pointer;
  /* transform: rotate(45deg); */
}

.arrow-left {
  transform: rotate(-45deg);
}

.arrow-right {
  transform: rotate(135deg);
}

.icons_wrapper {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  display: inline-block;
  width: 615px;
  /* height: 400px; */
  /* clear: both; */
  /* text-align: center; */
  border: 1px solid #000;
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  display: inline-flex;
  position: relative;
  justify-content: center;
  width: 200px;
  margin: 30px 0;
  /* margin-left: -1px; */
  padding: 0 15px;
  box-sizing: border-box;
  /* min-width: 170px; */
  height: 150px;
  vertical-align: middle;
  /* border: 1px solid #000; */
  background: url(../img/pict-unit.jpg) no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
  white-space: normal;
  transition: color 3s, transform 3s, font-weight 3s, width 3s, margin 3s, padding 3s;
}

.icon .unit-name {
  margin: auto 20px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.icon.active {
  /* height: 180px; */
  font-weight: bold;
  color: red;
  /* transform: scale(1.2); */
}

.icon.move-left {
  transform: translate(-200px);
}
