/* div {
  border: 1px solid #000;
} */

.switcher {
  margin: 10px auto;
  width: 50%;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.contacts-button {
  float: left;
  padding: 5px;
  width: 50%;
  box-sizing: border-box;
  text-align: center;

}

.active {
  color: #ffffff;
  background: linear-gradient(to right, #320e6c, #8727e9, #320e6c);
}

.contacts-ceki {
  border-radius: 50px 0 0 50px;
}

.contacts-region {
  border-radius: 0 50px 50px 0;
}
